<meta charset="UTF-8">
<script src="https://unpkg.com/vue@2"></script>

<div id="app">
    <!-- Lembrando v-if, v-else, v-else-if, retiram o html da dom, como se deletasem -->
    <template v-if="logado">
        <p> Usuário Logado: {{ nome }}</p>
        <p>Perfil Admin</p>
    </template>
    <p v-else-if="anonimo"> Navegando como anônimo</p>
    <!-- v-else tem que ser usado sempre apois o if, não funcionará de outro modo -->
    <p v-else>Nenhum usuário logado</p>
    <button @click="logado = !logado"> {{ logado ? "Sair" : "Entrar"}}</button>
    <input type="checkbox" v-model="anonimo">
</div>

<script>
    new Vue({
        el:"#app",
        data:{
            nome: "José Flávio",
            logado:false,
            anonimo:true,
        }
    })
</script>